@import "../_global.css";
@import "../_nav.css";

main {
  display: flex;
  max-width: 100%;
}
  aside {
    flex: 1;
    overflow: scroll;
  }
  aside > * {
    margin-bottom: var(--spacing-bigger);
    margin-right: 4rem;
    white-space: nowrap;
  }
