@import "./heading.css";

body {
  margin: 2rem;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

main {
  display: flex;
}
  aside {
    padding: 2rem;
  }
  aside > * {
    margin-bottom: 2rem;
    white-space: nowrap;
  }
  aside .tags {
    max-width: 15rem;
  }
  aside .tags:hover {
    height: auto;
  }
@media screen and (max-width: 600px) {
  aside {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  /* Make the right sidebar disappear earlier, the space just gets tighter the narrower ... */
  aside.right {
    display: none;
  }
}

blockquote {
  font-style: italic;
}

a {
  color: #A4131D;
}
  a:hover {
    color: black;
  }

body > header {
  display: flex;
}
  body > header .sitename {
    flex: 1;
    text-align: center;
  }
    body > header .sitename a {
      font-size: 2rem;
    }
    body > header .sitename .subtitle {
    }
  body > header nav.primary {
    flex: 2;
  }

article.latest {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

nav.primary {
  display: inline;
}
  nav.primary ul {
    display: inline;
  }
  nav.primary li {
    display: inline;
    margin-right: 2rem;
  }
  @media screen and (max-width: 600px) {
    nav.primary {
      display: none;
    }
  }

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.content {
  max-width: 90vw; /* Needed for the pre's overflow:auto to work and make the code boxes scrollable on narrow devices. */
}
pre {
  padding: 1rem;
  overflow: auto; /* make the code scrollable if the width is too narrow */
}
pre, p code {
  font-size: 1.2rem;
  background-color: lightyellow;
}

figcaption {
  font-style: italic;
}
figure {
}
  figure.float-right {
    float: right;
  }
@media screen and (max-width: 600px) {
  figure.float-right {
    float: none;
  }
}

td {
  padding: 0.5rem;
  background-color: lightgrey;
}

.metadata {
  color: #666;
}

footer {
  display: flex;
  padding: 2rem;
  margin-top: 2rem;
  background-color: lightgray;
}
footer div {
  flex: 1;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  padding: 0.1rem 0.3rem;
  white-space: nowrap;
}

nav.secondary {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(252, 232, 191, 0.9);
}
  nav.secondary ul {
    margin: 0;
    padding: 0;
    height: 1rem;
    width: 1rem;
    transition: width 0.5s, height 0.5s, opacity 1s; /* transition when the mouse leave */
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  nav.secondary:hover ul {
    height: 11rem;
    width: 8rem;
    transition: height 0.5s, opacity 0s; /* transition when the mouse enter */
    transition-delay: 0.2s; /* allows the width to jump to full width first */
    opacity: 1;
  }
  nav.secondary ul li {
    list-style: none;
    padding: 0.2rem;
    text-align: center;
    flex: 1;
    font-size: 1.5rem;
  }
  nav.secondary ul li a.highlight {
    color: #E8944B;
  }

  @media screen and (max-width: 600px) {
    nav.secondary {
      left: 0;
      top: 0;
      bottom: auto;
      right: auto;
      margin: 0;
    }
  }


img.sizeup-onhover-image {
  transition: 0.3s linear;
  transition-delay: 0.5s;
}
  img.sizeup-onhover-image:hover {
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.2);
  }
  img.sizeup-onhover-image.scale2:hover {
    transform: scale(2);
  }
  img.sizeup-onhover-image.scale4:hover {
    transform: scale(4);
  }
  img.sizeup-onhover-image.origin-left-top:hover {
    transform-origin: left top;
  }
  img.sizeup-onhover-image.origin-left-center:hover {
    transform-origin: left center;
  }
  img.sizeup-onhover-image.origin-right-top:hover {
    transform-origin: right top;
  }


blockquote.twitter-tweet {
  font-weight: bold;
  border-color: #eee #ddd #bbb;
  border-style: solid;
  border-width: 1px;
  padding: 0 1rem 1rem 1rem;
  margin: 0;
  display: inline-block;
}
  blockquote.twitter-tweet p {
    font-weight: normal;
  }
  blockquote.twitter-tweet a {
    font-weight: normal;
  }
  blockquote.twitter-tweet a:hover,
  blockquote.twitter-tweet a:focus {
    text-decoration: underline;
  }
