<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="mobile-web-app-capable" content="yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Wolfram Kriesing">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="picostitch - stitching knowhow for the world, bit by bit">
  <link rel="stylesheet" href="/style.css" type="text/css">
  <script async defer data-domain="picostitch.com" src="https://plausible.io/js/plausible.js"></script>
  {[ block head ]}
    <title>Fallback title, should never be rendered</title>
  {[ endblock ]}
</head>
<body class="page-{[ block pagename ]}
{[ endblock ]}">
  <nav aria-labelledby="primary-navigation">
    <h1>picostitch blog</h1>
    <ul>
      <li><a href="/">Blog</a></li>
    </ul>
  </nav>

  {[ block content ]}
  {[ endblock ]}

</body>
</html>