<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="mobile-web-app-capable" content="yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Wolfram Kriesing">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="picostitch - stitching knowhow for the world, bit by bit">
  <link rel="stylesheet" href="/style.css" type="text/css">
  <script async defer data-domain="picostitch.com" src="https://plausible.io/js/plausible.js"></script>
  <link rel="canonical" href="https://picostitch.com{[ block canonicalUrl ]}
{[ endblock ]}">
  <title>{[ block pageTitlePrefix ]}
{[ endblock ]} | picostitch - stuff about crafting (and) JavaScript</title>
  {[ block head ]}
  {[ endblock ]}
</head>
<body class="page-{[ block pagename ]}
{[ endblock ]}">

  <header>
    <nav class="primary" role="navigation" aria-labelledby="primary-navigation">
      <ul>
        {% navigationItems.forEach(item => { %}
          <li><a href="{{ item.path }}">{{ item.name }}</a></li>
        {% }) %}
      </ul>
    </nav>

    <div class="sitename">
      <a href="/">picostitch</a>
      <div class="subtitle">
        stuff about <b>crafting</b> (and) <b>JavaScript</b>
      </div>
    </div>
  </header>

  <main>
    <aside>
      <section class="tags">
        <header>Top Tags</header>
        {% groupedBlogPosts.byTag.slice(0, 10).forEach(group => { %}
        <a href="/blog/tag/{{group.tag}}/">#{{group.tag}}</a><br/>
        {% }) %}
      </section>

      <section class="months">
        <header>Posts by Month</header>
        {% groupedBlogPosts.byMonth.forEach(group => { %}
        <a href="/blog/{{group.yearAndMonth.replace('-', '/')}}/">{{toReadableDate(group.yearAndMonth)}}</a><br/>
        {% }) %}
      </section>
    </aside>
    <div class="content">
      {[ block content ]}
      {[ endblock ]}
    </div>
    <aside class="right">
      {[ block sidebar-right ]}
      {[ endblock ]}
    </aside>
  </main>

  <footer>
    <div>
      <b>Pages</b><br/>
      <a href="/">Home</a><br/>
      <a href="/about">About</a><br/>
    </div>
    <div>
      <b>Contact</b><br/>
      <a href="https://twitter.com/wolframkriesing">Twitter</a><br/>
      <a href="mailto:w+through-picostitch-footer-contact@kriesing.de">Email</a><br/>
    </div>
    <div></div>
  </footer>

  <nav class="secondary">
    <ul>
      {% navigationItems.forEach(item => { %}
        <li><a href="{{ item.path }}">{{ item.name }}</a></li>
      {% }) %}
    </ul>
  </nav>

</body>
</html>