@extends(src/templates/_base.html)

{[ block pagename ]}home{[ endblock ]}

{[ block pageTitlePrefix ]}Blog{[ endblock ]}

{[ block content ]}
  {% posts.map(post => { %}
    <div class="row">
      <div class="date">
        {{toReadableDate(post.dateCreated)}}
        <div class="weekday">{{toWeekday(post.dateCreated)}}</div>
      </div>
      <div class="content">
        <h2><a href="{{post.url}}">{{post.headline}}</a></h2>
        <p class="abstract">{!post.abstractContentAsHtml!}</p>
      </div>
    </div>
  {% }) %}
{[ endblock ]}
