@extends(src/templates/_base.html)

{[ block pagename ]}home{[ endblock ]}

{[ block pageTitlePrefix ]}Blog{[ endblock ]}

{[ block content ]}
  <div class="latest-post">
    <h1><a href="{{posts[0].url}}">{{posts[0].headline}}</a>{{ posts[0].hasVideo ? ' 📺' : '' }}</h1>
    <p class="metadata">
      Wolfram Kriesing
      - {{toReadableDateTime(posts[0].dateCreated)}}
      {% if (posts[0].tags.length > 0) { %}
        - tagged with: {{ posts[0].tags.map(tag => `#${tag}`).join(' ') }}
      {% } %}
    </p>

    <p class="abstract">{!posts[0].abstractContentAsHtml!}</p>
    <a href="{{posts[0].url}}">Read more ...</a>
  </div>

  {% posts.slice(1).map(post => { %}
    <div class="row">
      <div class="date">
        {{toReadableDate(post.dateCreated)}}
      </div>
      <div class="content">
        <h2><a href="{{post.url}}">{{post.headline}}</a>{{ post.hasVideo ? ' 📺' : '' }}</h2>
        <p class="abstract">{!post.abstractContentAsHtml!}</p>
      </div>
    </div>
  {% }) %}
{[ endblock ]}
