<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Wolfram Kriesing">
  <link rel="stylesheet" href="style.css" type="text/css">
  <title>Blog | picostitch - stuff about crafting (and) JavaScript</title>
  <script async defer data-domain="picostitch.com" src="https://plausible.io/js/plausible.js"></script>
</head>
<body>
  <nav aria-labelledby="primary-navigation">
    <h1>picostitch blog</h1>
    <ul>
      <li><a href="/">Blog</a></li>
    </ul>
  </nav>

  {% posts.map(post => { %}
    <div class="row">
      <div class="date">
        {{toReadableDate(post.dateCreated)}}<br/>
        {{toWeekday(post.dateCreated)}}
      </div>
      <div class="content">
        <h2><a href="">{{post.headline}}</a></h2>
        <p>{{post.abstract}}</p>
      </div>
    </div>
  {% }) %}

</body>
</html>