@extends(src/templates/_base.html)

{[ block pagename ]}month{[ endblock ]}

{[ block pageTitlePrefix ]}{{toReadableDate(yearAndMonth)}}{[ endblock ]}

{[ block content ]}
  <h1>{{toReadableDate(yearAndMonth)}}</h1>

  {% posts.map(post => { %}
    <article class="preview" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <h2><a href="{{post.url}}" itemprop="url">
          <span itemprop="name headline">{{post.headline}}</span></a>
        {{ post.hasVideo ? ' 📺' : '' }}</h2>
      </header>
      <div class="content">
        <p class="abstract">{!post.abstractContentAsHtml!}</p>
      </div>
    </article>
  {% }) %}
{[ endblock ]}
