@extends(src/templates/_base.html)

{[ block pagename ]}post{[ endblock ]}

{[ block head ]}
  <link rel="canonical" href="https://picostitch.com{{post.url}}">
  <title>Blog | picostitch - stuff about crafting (and) JavaScript</title>
{[ endblock ]}

{[ block content ]}
  <h1>{{post.headline}}</h1>
  <p class="metadata">
    Wolfram Kriesing
    - {{toReadableDateTime(post.dateCreated)}}
    {% if (post.tags.length > 0) { %}
      - tagged with: {{ post.tags.map(tag => `#${tag}`).join(' ') }}
    {% } %}
  </p>

  {!post.bodyAsHtml!}
{[ endblock ]}
