body {
  margin: 2rem;
  font-family: sans-serif;
}

blockquote {
  font-style: italic;
}

header {
  display: flex;
}
  header .sitename {
    flex: 1;
    text-align: center;
  }
    header .sitename a {
      font-size: 2rem;
    }
    header .sitename .subtitle {
    }
  header nav {
    flex: 2;
  }


.page-home h1 {
  display: inline;
}
.page-home p.abstract a {
  color: inherit;
}
.latest-post {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

nav {
  display: inline;
}
  nav ul {
    display: inline;
  }
  nav li {
    display: inline;
    margin-right: 2rem;
  }

.metadata {
  color: gray;
}

.post {
  margin-top: 2rem;
}
  .post h2 {
    font-size: 1em;
    margin: 0;
    padding: 0;
  }
  .post p {
    margin: 0;
    padding: 0;
  }
@media screen and (max-width: 600px) {
}
