@import "./reset.css";
@import "./layout.css";

:root {
  --spacing-big: 1rem;
  --spacing-small: 0.3rem;
  --font-color-highlight: #A4131D;
  --font-color-secondary: #666;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

blockquote {
  box-shadow: 0 0 10px lightgrey;
  padding: var(--spacing-big);
}

a {
  color: var(--font-color-highlight);
}
  a:hover {
    color: inherit;
  }

body > header .sitename a {
  font-size: 2rem;
}

nav ol {
  list-style-type: none;
}

pre, p code {
  font-size: 1.2rem;
  background-color: lightyellow;
}

figcaption {
  font-style: italic;
}

td {
  padding: 0.5rem;
  background-color: lightgrey;
}

.metadata {
  color: var(--font-color-secondary);
}

footer {
  border-top: 1px solid lightgrey;
}

kbd {
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  padding: 0.1rem var(--spacing-small);
  white-space: nowrap;
}

.isDraft h1,
.isDraft h2,
.isDraft h2 a
{
  color: #666;
}

/*    styling the secondary nav    */

nav.secondary {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: var(--spacing-big);
  padding: var(--spacing-big);
  background-color: rgba(252, 232, 191, 0.9);
}
  nav.secondary ul {
    height: var(--spacing-big);
    width: var(--spacing-big);
    transition: width 0.5s, height 0.5s, opacity 1s; /* transition when the mouse leave */
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  nav.secondary:hover ul {
    height: 11rem;
    width: 8rem;
    transition: height 0.5s, opacity 0s; /* transition when the mouse enter */
    transition-delay: 0.2s; /* allows the width to jump to full width first */
    opacity: 1;
  }
  nav.secondary ul li {
    list-style: none;
    padding: 0.2rem;
    text-align: center;
    flex: 1;
    font-size: 1.5rem;
  }
  nav.secondary ul li a.highlight {
    color: #E8944B;
  }

  @media screen and (max-width: 600px) {
    nav.secondary {
      left: 0;
      top: 0;
      bottom: auto;
      right: auto;
    }
  }

/*   styling images    */

img.sizeup-onhover-image {
  transition: 0.3s linear;
  transition-delay: 0.5s;
}
  img.sizeup-onhover-image:hover {
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.2);
  }
  img.sizeup-onhover-image.scale2:hover {
    transform: scale(2);
  }
  img.sizeup-onhover-image.scale4:hover {
    transform: scale(4);
  }
  img.sizeup-onhover-image.origin-left-top:hover {
    transform-origin: left top;
  }
  img.sizeup-onhover-image.origin-left-center:hover {
    transform-origin: left center;
  }
  img.sizeup-onhover-image.origin-right-top:hover {
    transform-origin: right top;
  }

/*   twitter styling    */

blockquote.twitter-tweet {
  font-weight: bold;
  display: inline-block;
  box-shadow: 0 0 10px lightgrey;
}
  blockquote.twitter-tweet p {
    font-weight: normal;
  }
  blockquote.twitter-tweet a {
    font-weight: normal;
  }
  blockquote.twitter-tweet a:hover,
  blockquote.twitter-tweet a:focus {
    text-decoration: underline;
  }
