@extends(src/templates/_base.html)

{[ block pagename ]}tag{[ endblock ]}

{[ block pageTitlePrefix ]}#{{tag}}{[ endblock ]}

{[ block breadcrumb ]}
  <a href="/">Home</a> &raquo; Blog &raquo; #{{tag}}
{[ endblock ]}

{[ block content ]}
  <h1>Tagged with #{{tag}}</h1>

  {% posts.map(post => { %}
    <article class="preview" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <h2><a href="{{post.url}}" itemprop="url">
          <span itemprop="name headline">{{post.headline}}</span></a>
        {{ post.hasVideo ? ' 📺' : '' }}</h2>
      </header>
      <div class="content">
        <p class="abstract">{!post.abstractAsHtml!}</p>
      </div>
    </article>
  {% }) %}
{[ endblock ]}
