@import "../_global.css";
@import "../_nav.css";

main {
  display: flex;
}
main .content {
  flex: 3;
  max-width: var(--readable-max-width);
  min-width: 60%; /* Make sure this column gets at least a major amount of the available width! */
}
  main aside {
    flex: 1;
    overflow: auto;
  }
    main aside.left {
      max-width: 15rem;
    }
    main aside > * {
      margin-bottom: var(--spacing-bigger);
      margin-right: 4rem;
    }





.page-tidbits code {
  background: none;
}

.page-tidbits article p > a {
  color: inherit;
}

header .tag {
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
  margin-right: 1rem; /* space to the H2 */
  font-weight: bold;
}

.tag[data-tag="a11y"] { background: linear-gradient(to right, #bfffad, rgba(255,255,255,0) 5rem); }
.tag[data-tag="docker"] { background: linear-gradient(to right, #adc2ff, rgba(255,255,255,0) 5rem); }
.tag[data-tag="english"] { background: linear-gradient(to right, #ffdaad, rgba(255,255,255,0) 5rem); }
.tag[data-tag="html"] { background: linear-gradient(to right, #adffff, rgba(255,255,255,0) 5rem); }
.tag[data-tag="indieweb"] { background: linear-gradient(to right, #a2ef2f, rgba(255,255,255,0) 5rem); }
.tag[data-tag="javascript"] { background: linear-gradient(to right, #fae96d, rgba(255,255,255,0) 5rem); }
.tag[data-tag="linux"] { background: linear-gradient(to right, #d6adff, rgba(255,255,255,0) 5rem); }
.tag[data-tag="macos"] { background: linear-gradient(to right, #d6adff, rgba(255,255,255,0) 5rem); }
.tag[data-tag="tools"] { background: linear-gradient(to right, #ffadb9, rgba(255,255,255,0) 5rem); }
.tag[data-tag="web"] { background: linear-gradient(to right, rgba(0, 103, 184, 0.5), rgba(255,255,255,0) 5rem); }
.tag[data-tag="react-native"] { background: linear-gradient(to right, rgb(97, 218, 251), rgba(255,255,255,0) 5rem); }
