@extends(src/templates/_base.html)

{[ block pagename ]}tidbits{[ endblock ]}
{[ block canonicalUrl ]}/tidbits/{[ endblock ]}
{[ block pageTitlePrefix ]}Tidbits{[ endblock ]}

{[ block head ]}
<link rel="stylesheet" href="/tidbits/tidbits.css" type="text/css">
{[ endblock ]}

{[ block breadcrumb ]}
  <a href="/">Home</a> &raquo; Tidbits
{[ endblock ]}

{[ block content ]}
  <h1 style="display: inline">Tidbits 😋</h1>
  <p style="display: inline;">
    are shorter articles, like notes, about tweet-size, no full blog post.
  </p>
  <p>
    <b>tidbit [noun] /ˈtɪd.bɪt/</b> - a small piece of interesting information.
    <a href="https://dictionary.cambridge.org/dictionary/english/tidbit">from Cambridge Dictionary</a>
    <br/>
    <b>Synonyms for tidbit</b>:  goody, delicacy, snack, treat, tweet
    <a href="https://www.thesaurus.com/browse/tidbit">partly from thesaurus.com</a>
  </p>

  {% tidbits.map(tidbit => { %}
    <article class="preview" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <h2 id="{{tidbit.slug}}">
          <span class="tag" data-tag="{{tidbit.tags[0].slug}}">#{{tidbit.tags[0].value}}</span>
          <a href="{{tidbit.url}}">{{tidbit.headline}}</a>
        </h2>
        <div class="metadata">
          {{toReadableDate(tidbit.dateCreated)}}
          {% if (tidbit.tags.length > 1) { %}
            - also tagged with: {{ tidbit.tags.slice(1).map(tag => `#${tag.value}`).join(' ') }}
          {% } %}
        </div>
      </header>
      <p class="abstract">{!tidbit.abstractAsHtml!}
        {% if (!tidbit.hasAbstractOnly) { %}
          <a  href="{{tidbit.url}}">Continue reading →</a>
        {% } %}
      </p>
    </article>
  {% }) %}
{[ endblock ]}
