@extends(src/templates/_base.html)

{[ block pagename ]}home{[ endblock ]}

{[ block pageTitlePrefix ]}Blog{[ endblock ]}

{[ block content ]}
  <h1>Tidbits</h1>
  <p>
    <b>tidbit [noun] /ˈtɪd.bɪt/</b> - a small piece of interesting information.
    <a href="https://dictionary.cambridge.org/dictionary/english/tidbit">from Cambridge Dictionary</a>
    <br/>
    <b>Synonyms for tidbit</b>:  goody, delicacy, snack, treat, tweet
    <a href="https://www.thesaurus.com/browse/tidbit">partly from thesaurus.com</a>
  </p>

  {% tidbits.map(tidbit => { %}
    <article class="preview" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <h2 id="{{tidbit.slug}}">
          <span class="tag" data-tag="{{tidbit.tags[0].slug}}">#{{tidbit.tags[0].value}}</span>
          {{tidbit.headline}}
        </h2>
      </header>
      <p class="abstract">{!tidbit.abstractAsHtml!}</p>
    </article>
  {% }) %}
{[ endblock ]}
