{% macro articlePreview(post) %}
  <article class="preview {{ 'isDraft' if post.isDraft else '' }}" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h2 id="{{post.slug}}" is="more-h2">
        <a href="{{post.url}}" itemprop="url">
        <span itemprop="name headline">{{post.headlineAsHtml | safe }}</span></a>
        {{' 📺' if post.hasVideo else ''}}
        {{' [this is a draft]' if post.isDraft else ''}}
      </h2>
      <div class="metadata">
        {{post.dateCreated | toReadableDate}}
        {% if post.tags.length > 0 %}
          - tagged with: {% for tag in post.tags %}#{{tag.value}} {% endfor %}
        {% endif %}
      </div>
    </header>
    <div class="content">
      <p class="abstract">{{post.abstractAsHtml | safe }}</p>
    </div>
  </article>
{% endmacro %}

{% macro _tagsList(groups) %}
  {% for group in groups %}
    <li style="background: linear-gradient(to bottom, white 30%, rgba(255,255,255,0.5) 0), linear-gradient(to right, var(--color-overlay) {{ group.gradientWidthInPercent }}%, transparent 0)">
      <a href="/blog/tag/{{group.tagSlug}}/">#{{group.tagSlug}}</a>
    </li>
  {% endfor %}
{% endmacro %}

{% macro tagsNav(topGroups, alphabeticallySortedGroups) %}
  <nav class="tags">
    <header>Tags</header>
    <input type="checkbox" id="which-tags-toggle"/>
    <label for="which-tags-toggle">
      <span class="top10">Top 20</span>
      <span class="all">A-Z ↓</span>
    </label>
    <ol class="top-tags">
      {{ _tagsList(topGroups) }}
    </ol>
    <ol class="tags-alphabetically-sorted">
      {{ _tagsList(alphabeticallySortedGroups) }}
    </ol>
  </nav>
{% endmacro %}

{% macro monthsNav(groups) %}
  <nav class="months">
    <header>Posts by Month</header>
    <ol>
      {% for group in groups %}
        <li><a href="/blog/{{ group.yearAndMonth.replace('-', '/') }}/">{{ group.yearAndMonth | toReadableDate }}</a></li>
      {% endfor %}
    </ol>
  </nav>
{% endmacro %}
