{[ spread articlePreview ]}
  <article class="preview {{post.isDraft ? 'isDraft' : ''}}" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h2 id="{{post.slug}}" is="more-h2">
        <a href="{{post.url}}" itemprop="url">
        <span itemprop="name headline">{!post.headlineAsHtml!}</span></a>
        {{post.hasVideo ? ' 📺' : ''}}
        {{post.isDraft ? ' [this is a draft]' : ''}}
      </h2>
      <div class="metadata">
        {{toReadableDate(post.dateCreated)}}
        {% if (post.tags.length > 0) { %}
          - tagged with: {{ post.tags.map(tag => `#${tag}`).join(' ') }}
        {% } %}
      </div>
    </header>
    <div class="content">
      <p class="abstract">{!post.abstractAsHtml!}</p>
    </div>
  </article>
{[endspread]}
