{% extends "_focus.html" %}

{% block pagename %}blog{% endblock %}
{% block canonicalUrl %}https://picostitch.com/blog{% endblock %}
{% block pageTitlePrefix %}Blog{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/blog/blog.css" type="text/css">
{% endblock %}

{% block breadcrumb %}
  <a href="/">Home</a> &raquo;
  Blog
{% endblock %}

{% import "_parts.html" as parts %}
{% import "blog/_parts.html" as blogParts %}

{% block mainStart %}
  <aside class="left">
    {{ parts.tagsNav(groupedBlogPosts.byTag.slice(0, 20), groupedBlogPosts.byTagSortedAlphabetically) }}
    {{ parts.monthsNav(groupedBlogPosts.byMonth) }}
  </aside>
{% endblock %}

{% block content %}
  <article class="latest">
    <header>
      <h1 id="{{posts[0].slug}}" is="more-h1">
        <a href="{{posts[0].url}}">{{ posts[0].headlineAsHtml | safe }}</a>{{ ' 📺' if posts[0].hasVideo else '' }}
      </h1>
      <div class="metadata">
        {{ posts[0].dateCreated | toReadableDate }}
        {% if (posts[0].tags.length > 0) %}
          - tagged with: {% for tag in posts[0].tags %}#{{tag.value}} {% endfor %}
        {% endif %}
      </div>
    </header>
    <p class="abstract">
      {{ posts[0].abstractAsHtml | safe }}
    </p>
    <a href="{{posts[0].url}}">Continue reading →</a>
  </article>

  {% for post in posts.slice(1) %}
    {{ blogParts.articlePreview(post) }}
  {% endfor %}
{% endblock %}
