@extends(templates/_base.html)

{[ block pagename ]}month{[ endblock ]}
{[ block canonicalUrl ]}/blog/{{yearAndMonth.split('-').join('/')}}/{[ endblock ]}
{[ block pageTitlePrefix ]}{{toReadableDate(yearAndMonth)}}{[ endblock ]}

{[ block breadcrumb ]}
  <a href="/">Home</a> &raquo; Blog &raquo; {{toReadableDate(yearAndMonth)}}
{[ endblock ]}

{[ block content ]}
  <h1 id="{{yearAndMonth}}" is="more-h1">
    {{toReadableDate(yearAndMonth)}}
  </h1>

  @require(templates/blog/_parts.html)
  {% posts.map(post => { %}
    @spread(articlePreview)
  {% }) %}
{[ endblock ]}
