{% extends "_focus.html" %}

{% block pagename %}post{% endblock %}
{% block canonicalUrl %}{{ post.canonicalUrl if post.canonicalUrl else 'https://picostitch.com'+post.url }}{% endblock %}
{% block pageTitlePrefix %}{{post.headline}}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/blog/blog.css" type="text/css">
  <meta property="article:type" content="article" />
  {% for tag in post.tags %}
    <meta property="article:tag" content="{{tag.value}}" />
  {% endfor %}

  <meta property="og:description" content="{{post.abstract}}" />
  <meta property="article:description" content="{{post.abstract}}" />
  <meta name="twitter:description" content="{{post.abstract}}" />

  {% if (post.previewImageUrl) %}
    <meta property="og:image" content="https://picostitch.com{{post.previewImageUrl}}" />
    <meta property="og:image:url"  content="https://picostitch.com{{post.previewImageUrl}}" />
    <meta name="twitter:image" content="https://picostitch.com{{post.previewImageUrl}}" />
  {% endif %}
{% endblock %}

{% block metaTwitterCard %}
  {% if (post.previewImageUrl) %}
    <meta name="twitter:card" content="summary_large_image">
  {% else %}
    {{ super() }}}
  {% endif %}
{% endblock %}

{% block breadcrumb %}
  <a href="/">Home</a> &raquo;
  <a href="/blog">Blog</a> &raquo;
  <a href="{{post.urlForMonth}}">{{ post.dateCreated | toReadableYearAndMonth }}</a> &raquo;
  {{ post.headlineAsHtml | safe }}
{% endblock %}

{% block content %}
  <article class="{{ 'isDraft' if post.isDraft else '' }}">

    {% if post.previewImage %}
      <img src="{{ post.previewImage }}" style="width: 100%; height: 10rem; object-fit: cover;"/>
    {% endif %}

    <header>
      <h1 id="{{post.slug}}" is="more-h1">
        {{ post.headlineAsHtml | safe }}
        {{ ' [this is a draft]' if post.isDraft else ''}}
      </h1>
      <div class="metadata">
        Wolfram Kriesing
        - {{ post.dateCreated | toReadableDate }}
        {% if (post.tags.length > 0) %}
          - tagged with: {% for tag in post.tags %}#{{tag.value}} {% endfor %}
        {% endif %}
      </div>
    </header>

    {% if (post.canonicalHint) %}
      <p>
        <a href="{{post.canonicalUrl}}">{{post.canonicalHint}}</a>
      </p>
    {% endif %}

    {{ post.bodyAsHtml | safe }}

    {% if (post.youtubeId) %}
      <iframe width="427" height="240" name="video" src="//www.youtube.com/embed/{{ post.youtubeId }}?start={{ post.videoStartTime }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}
    {% if (post.vimeoId) %}
      <iframe src="https://player.vimeo.com/video/{{ post.vimeoId }}" width="427" height="240" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% endif %}
  </article>
{% endblock %}

{% block mainEnd %}
  <aside class="right">
    {% if (post.relatedPosts.length > 1) %}
      <h3 id="related" is="more-h3">Related Posts</h3>
      {% for p in post.relatedPosts %}
        {% if (post === p) %}
          <span>{{p.headline}}</span><br/>
        {% else %}
          <a href="{{p.url}}">{{p.headline}}</a><br/>
        {% endif %}
      {% endfor %}
    {% endif %}
  </aside>
{% endblock %}
