@extends(templates/_focus.html)

{[ block pagename ]}post{[ endblock ]}
{[ block canonicalUrl ]}{{post.url}}{[ endblock ]}
{[ block pageTitlePrefix ]}{{post.headline}}{[ endblock ]}

{[ block head ]}
  <link rel="stylesheet" href="/blog/blog.css" type="text/css">
  <meta property="article:type" content="article" />
  {% post.tags.map(tag => { %}
    <meta property="article:tag" content="{{tag}}" />{% }) %}

  <meta property="og:description" content="{{post.abstract}}" />
  <meta property="article:description" content="{{post.abstract}}" />
  <meta name="twitter:description" content="{{post.abstract}}" />

  {% if (post.previewImageUrl) { %}
    <meta property="og:image" content="https://picostitch.com{{post.previewImageUrl}}" />
    <meta property="og:image:url"  content="https://picostitch.com{{post.previewImageUrl}}" />
    <meta name="twitter:image" content="https://picostitch.com{{post.previewImageUrl}}" />
  {% } %}
{[ endblock ]}

{[ block metaTwitterCard ]}
  {% if (post.previewImageUrl) { %}
    <meta name="twitter:card" content="summary_large_image">
  {% } else { %}
    {[ parent metaTwitterCard ]}
  {% } %}
{[ endblock ]}

{[ block sidebar-right ]}
  {% if (post.relatedPosts.length > 1) { %}
    <h3 id="related" is="more-h3">Related Posts</h3>
    {% post.relatedPosts.map(p => { %}
      {% if (post === p) { %}
        {{p.headline}}<br/>
      {% } else { %}
        <a href="{{p.url}}">{{p.headline}}</a><br/>
      {% } %}
    {% }) %}
  {% } %}
{[ endblock ]}

{[ block breadcrumb ]}
  <a href="/">Home</a> &raquo;
  <a href="/blog">Blog</a> &raquo;
  <a href="{{post.urlForMonth}}">{{toReadableYearAndMonth(post.dateCreated)}}</a> &raquo;
  {!post.headlineAsHtml!}
{[ endblock ]}

{[ block content ]}
  <article class="{{post.isDraft ? 'isDraft' : ''}}">
    <header>
      <h1 id="{{post.slug}}" is="more-h1">
        {!post.headlineAsHtml!}
        {{post.isDraft ? ' [this is a draft]' : ''}}
      </h1>
      <div class="metadata">
        Wolfram Kriesing
        - {{toReadableDate(post.dateCreated)}}
        {% if (post.tags.length > 0) { %}
          - tagged with: {{ post.tags.map(tag => `#${tag}`).join(' ') }}
        {% } %}
      </div>
    </header>

    {!post.bodyAsHtml!}

    {% if (post.youtubeId) { %}
      <iframe width="427" height="240" name="video" src="//www.youtube.com/embed/{{ post.youtubeId }}?start={{ post.videoStartTime }}" frameborder="0" allowfullscreen></iframe>
    {% } %}
    {% if (post.vimeoId) { %}
      <iframe src="https://player.vimeo.com/video/{{ post.vimeoId }}" width="427" height="240" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% } %}
  </article>
{[ endblock ]}
