@extends(templates/_allFeatures.html)

{[ block pagename ]}tag{[ endblock ]}
{[ block canonicalUrl ]}https://picostitch.com/blog/tag/{{tag}}/{[ endblock ]}
{[ block pageTitlePrefix ]}#{{tag}}{[ endblock ]}

{[ block head ]}
<link rel="stylesheet" href="/blog/blog.css" type="text/css">
{[ endblock ]}

{[ block breadcrumb ]}
  <a href="/">Home</a> &raquo;
  <a href="/blog">Blog</a> &raquo;
  #{{tag}}
{[ endblock ]}

{[ block content ]}
  <h1 id="{{tag}}" is="more-h1">
    Tagged with #{{tag}}
  </h1>

  @require(templates/blog/_parts.html)
  {% posts.map(post => { %}
    @spread(articlePreview)
  {% }) %}
{[ endblock ]}
