{% extends "_focus.html" %}

{% block body %}
  <nav class="breadcrumb">
    {% block breadcrumb %}{% endblock %}
  </nav>

  <main>
    <aside>
      <nav class="tags">
        <header>Top Blog Tags</header>
        <ol>
          {% for group in groupedBlogPosts.byTag.slice(0, 10) %}
            <li><a href="/blog/tag/{{group.tag}}/">#{{group.tag}}</a></li>
          {% endfor %}
        </ol>
      </nav>

      <nav class="months">
        <header>Posts by Month</header>
        <ol>
          {% for group in groupedBlogPosts.byMonth %}
            <li><a href="/blog/{{ group.yearAndMonth.replace('-', '/') }}/">{{ group.yearAndMonth | toReadableDate }}</a></li>
          {% endfor %}
        </ol>
      </nav>
    </aside>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    <aside class="right">
      {% block sidebarRight %}{% endblock %}
    </aside>
  </main>
{% endblock %}
