{% extends "_focus.html" %}

{% block mainStart %}
  <aside class="left">
    <nav class="tags">
      <header>Top Blog Tags</header>
      <ol>
        {% for group in groupedBlogPosts.byTag.slice(0, 10) %}
          <li><a href="/blog/tag/{{group.tag}}/">#{{group.tag}}</a></li>
        {% endfor %}
      </ol>
    </nav>

    <nav class="months">
      <header>Posts by Month</header>
      <ol>
        {% for group in groupedBlogPosts.byMonth %}
          <li><a href="/blog/{{ group.yearAndMonth.replace('-', '/') }}/">{{ group.yearAndMonth | toReadableDate }}</a></li>
        {% endfor %}
      </ol>
    </nav>
  </aside>

  {# The block below MUST be given as empty, due to the way done in the parent template, to NOT show the div when empty, better ways welcome. #}
  {% block sidebarRight %}{% endblock %}
{% endblock %}
