<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
  {% set pageTitlePrefix %}{% block pageTitlePrefix %}{% endblock %}{% endset %}
  {% set canonicalUrl %}{% block canonicalUrl %}{% endblock %}{% endset %}
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="mobile-web-app-capable" content="yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Wolfram Kriesing">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="picostitch - crafting (and) JavaScript">

  {% block metaTwitter %}{% endblock %}

  {% block metaOpenGraph %}{% endblock %}

  <script async defer data-domain="picostitch.com" src="https://plausible.io/js/plausible.js"></script>
  {% if canonicalUrl %}<link rel="canonical" href="{{ canonicalUrl }}">{% endif %}
  <title>{{ pageTitlePrefix }} | picostitch - crafting (and) JavaScript</title>

  {% block moreHtmlElements %}{% endblock %}
  {% block head %}{% endblock %}
</head>
<body class="page-{% block pagename %}{% endblock %}">
  {% import "_macros.nunjucks" as parts %}

  {{ parts.header(navigationItems) }}

  {% block afterHeader %}{% endblock %}

  {% block body %}{% endblock %}

  {{ parts.pageFooter(navigationItems) }}
  {{ parts.secondaryNavigation(navigationItems) }}
</body>
</html>
