{% macro _itemsAsListOfLinks(items) %}
  <ul>
    {% for item in items %}
      <li><a href="{{ item.path }}">{{ item.name }}</a></li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro header(navigationItems) %}
  <header>
    <nav class="primary">
      {{ _itemsAsListOfLinks(navigationItems) }}
    </nav>

    <div class="sitename">
      <a href="/">picostitch</a>
      <div class="subtitle">
        crafting (and) JavaScript
      </div>
    </div>
  </header>
{% endmacro %}

{% macro pageFooter(navigationItems) %}
  <footer>
    <div>
      <b>Pages</b>
      {{ _itemsAsListOfLinks(navigationItems) }}
    </div>

    <div>
      <b>Contact</b>
      <ul>
        <li><a href="https://twitter.com/wolframkriesing" rel="me">Twitter</a></li>
        <li><a href="https://codeberg.com/wolframkriesing" rel="me">Codeberg</a></li>
        <li><a href="https://github.com/wolframkriesing" rel="me">Github</a></li>
        <li><a href="mailto:w+through-picostitch-footer-contact@kriesing.de">Email</a></li>
      </ul>
    </div>
  </footer>
{% endmacro %}

{% macro secondaryNavigation(navigationItems) %}
  <nav class="secondary">
    <div class="menu-button">&#9776;</div>
    {{ _itemsAsListOfLinks(navigationItems) }}
  </nav>
{% endmacro %}
