{[ spread header ]}
  <header>
    <nav class="primary">
      <ul>
        {% navigationItems.forEach(item => { %}
          <li><a href="{{ item.path }}">{{ item.name }}</a></li>
        {% }) %}
      </ul>
    </nav>

    <div class="sitename">
      <a href="/">picostitch</a>
      <div class="subtitle">
        crafting (and) JavaScript
      </div>
    </div>
  </header>
{[endspread]}

{[ spread pageFooter ]}
  <footer>
    <div>
      <b>Pages</b>
      <ul>
        {% navigationItems.forEach(item => { %}
          <li><a href="{{ item.path }}">{{ item.name }}</a></li>
        {% }) %}
      </ul>
    </div>

    <div>
      <b>Contact</b>
      <ul>
        <li><a href="https://twitter.com/wolframkriesing" rel="me">Twitter</a></li>
        <li><a href="https://codeberg.com/wolframkriesing" rel="me">Codeberg</a></li>
        <li><a href="https://github.com/wolframkriesing" rel="me">Github</a></li>
        <li><a href="mailto:w+through-picostitch-footer-contact@kriesing.de">Email</a></li>
      </ul>
    </div>
  </footer>
{[endspread]}

{[ spread secondaryNavigation ]}
  <nav class="secondary">
    <div class="menu-button">&#9776;</div>
    <ul>
      {% navigationItems.forEach(item => { %}
        <li><a href="{{ item.path }}">{{ item.name }}</a></li>
      {% }) %}
    </ul>
  </nav>
{[endspread]}
