{% extends "_focus.html" %}

{% block pagename %}home{% endblock %}
{% block canonicalUrl %}https://picostitch.com/{% endblock %}
{% block pageTitlePrefix %}Home{% endblock %}
{% block head %}<link rel="stylesheet" href="/home.css" type="text/css">{% endblock %}

{% block afterHeader %}
  <h1>picostitch - Crafting (and) JavaScript</h1>
{% endblock %}

{% block content %}
  {% import "blog/_macros.nunjucks" as blogParts %}
  <section>
    <h2>Latest <a href="/blog">Blog Posts ✍</a></h2>

    {% for post in posts.slice(0, 10) %}
      {{ blogParts.articlePreview(post) }}
    {% endfor %}

    <a  href="/blog">All Blog Posts →</a>
  </section>

  {% import "tidbit/_macros.nunjucks" as tidbitParts %}
  <section>
    <h2>Latest <a href="/tidbits">Tidbits 😋</a></h2>

    {% for tidbit in tidbits.slice(0, 10) %}
      {{ tidbitParts.tidbitPreview(tidbit) }}
    {% endfor %}

    <a  href="/tidbits">All Tidbits →</a>
  </section>
{% endblock %}
