@extends(templates/_focus.html)

{[ block pagename ]}home{[ endblock ]}
{[ block canonicalUrl ]}https://picostitch.com/{[ endblock ]}
{[ block pageTitlePrefix ]}Home{[ endblock ]}
{[ block head ]}<link rel="stylesheet" href="/home.css" type="text/css">{[ endblock ]}

{[ block breadcrumb ]}
  Home
{[ endblock ]}

{[ block content ]}
  @require(templates/blog/_parts.html)
  <section>
    <h2>Latest Blog Posts ✍</h2>

    {% posts.slice(0, 10).map(post => { %}
      @spread(articlePreview)
    {% }) %}

    <a  href="/blog">All Blog Posts →</a>
  </section>

  @require(templates/tidbit/_parts.html)
  <section>
    <h2>Latest Tidbits 😋</h2>

    {% tidbits.slice(0, 10).map(tidbit => { %}
      @spread(tidbitPreview)
    {% }) %}

    <a  href="/tidbits">All Tidbits →</a>
  </section>
{[ endblock ]}
